.feature-one {
    padding: 23px 22.39px 44px 24px
}

.feature-two {
    padding: 23px 34.55px 44px 24px;
}

.feature-three {
    padding: 23px 25.53px 44px 20px;
}

.feature-title {
    color: #050038;
    font-weight: 700;
    font-size: 24px;
}